.main{
    display: flex;
    flex-direction: row; 
}
.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0.5vh;
    background: linear-gradient(  #7e57c2,#b39ddb);
}
.header-item{
    padding-left: 1%;
    padding-right: 1%;
    background: none;
    height: auto;

}
.settings-icon{
    height: 50px;
    width: 50px;
}
.notification-icon{
    height: 50px;
    width: 50px;
}
.mail-icon{
   
    font-size: 280%
}
.profile-nav{
    height: 70px;
    width: 70px;
    margin-right: 1vw;
    margin-left: 1vw;
    border-radius: 10px;
}
.dropdown-trigger{
    height: 105%;
}
button{
    border: none;
}
.dropdown-content{
    width: 10vw !important;
    margin: 20vw !important; 
}

.side-menu{
    position: relative;
    left: 0;
    height: 89.5vh;
    display: flex;
    flex-direction: row;
  
}

.list-item{
    border: none;
    font-size: 250%;
    height: 8%;
    background: none;
}
.sub-menu-left{
    width: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sub-menu-right{
    display: flex;
    flex-direction: column;
    width: 15vw;
    font-size: 140%;
    color: black
}
.list-item-drop{
    border: none;
    background: none;
    margin: 3%;
    height: 10%;
    transition: 0s;
}
.content{
    position: relative;
    width: 100%;
}
.page-content{
    padding: 1%;
}
.content-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1%
}
.export{
    width: 10vw;
}
.content-title{
    font-size: 130%;
    font-weight: bold;
    
}
.sort{
    width: 10vw;
}

#search-bar{
    position: relative;
    background: #b39ddb;
    padding-bottom: 3vh; 
}
.search-form{
    display: flex;
    flex-direction: column;
}
.search-input{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 30vw;
}

.options{
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}
.option{
    width: 15vw;
}
.search-btn{
    width: 10vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1vh;
}
.influencer{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}
.photo{
    width: 14vw;
    height: 28vh;
    border-radius: 5px;
}
.general{
    display: flex;
    flex-direction: column;
}
.channel-link{
    font-size: 150%;
    color: black;
    margin-left: 2vw;
}
.youtube{
    color: red;
}
.influencer-info{
    display: flex;
    flex-direction: row;
}
.info-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 11vw;
    height: 16vh;
    padding: 1%;
    border-right: 2px solid grey;
    justify-content: space-between;
}
.number{
    color: purple;
}
.links-list{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.link{
    
    font-size: 250%;
}
.graphic{
    height: 30vh;
    width: 100%;
}
.pagination{
    text-align: center;
}
.to-admin{
    position: fixed;
    bottom: 0;
    right: 0;
}